upstream bestpv_cell_production_app_server {
    server unix:///apps/bestpv_cell_production/shared/tmp/sockets/puma.sock fail_timeout=0;
}

server {
    listen 80;
    server_name devcell.bestpv.cn;

    location ~ ^/(assets|packs)/  {
        root /apps/bestpv_cell_production/shared/public;
        gzip_static on;
        expires max;
        add_header Cache-Control public;
    }

    location ~ ^/(ckeditor|statics|js|images|css|img)/  {
        root /apps/bestpv_cell_production/current/public;
        gzip_static on;
        expires max;
        add_header Cache-Control public;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://bestpv_cell_production_app_server;
        client_max_body_size 1024M;
    }
}